/*html { display: table; margin: auto; }*/

html,body,table { font-size: 105%; }

h1 { margin-bottom: 1; }

a:link { color: lightyellow;}
a:visited { color: lightyellow; }
a:hover { color: orange; }

body { 
/*  display: table-cell;vertical-align: middle;*/
  font-family: "Calibri";   color:white; background-color:rgb(56, 75, 94);
}

.hideTable, .hideTable tr, .hideTable td {
color: black;
background-color: transparent;
border: 0;
padding: 0;
padding-left: 5px;
}

h1 { color:aliceblue; }
h2 { color:#fff3cb; margin-top:20px; margin-bottom: 10px   }
h3, h4 { margin-top:5px; margin-bottom: 5px; }
h4 { font-weight: normal }

th { background-color: rgb(19, 37, 56);}
tr { background-color: rgb(34, 58, 85);}
/*tr:nth-child(odd){ background-color: rgb(51, 79, 110); }*/


table, th, td {
  white-space: nowrap;
  padding: 3px;
  border: 1px solid rgb(122, 122, 122);
  border-collapse: collapse;
  min-width: 20px;
}

.max {
  font-weight: 800;
  color: #ffd700;
}

.rowTeam1    { background-color: #2357b9 }
.rowTeam1:nth-child(odd){ background-color: #173772 ; }
.rowTeam2    { background-color: #9e2222; }
.rowTeam2:nth-child(odd)    { background-color: #641414; }
.rowTeamBoth { background-color: #b71dbd } 
.cellGrey   { background-color:rgb(45, 62, 80) }
.cellGrey:nth-child(odd)   { background-color:rgb(33, 48, 65) }
.cellAmber  { color:black; background-color: #fcd600 }
/*.cellAmber:nth-child(odd)  { color:black; background-color: #ffc400 }*/
.cellOrange { background-color: #c74e16 }
.cellOrange:nth-child(odd) { background-color: #ad4312  }
.cellGreen  { background-color: #2b8b24  }
.cellGreen:nth-child(odd)  { background-color: #2f6b2b }

th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}



.VersusHover {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.VersusHover .VersusHoverTextGreen, .VersusHover .VersusHoverTextAmber, .VersusHover .VersusHoverTextOrange {
  font-size: 90%;
  font-weight: normal;
  visibility: hidden;
  width: auto;
  /*background-color: lightblue;*/
  color: black;
  text-align: left;
  border-radius: 6px;
  padding: 5px 0;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  z-index: 1;
  bottom: 130%;
  left: 44px;
  margin-left: -60px;
}


.VersusHover .VersusHoverTextGreen::after, .VersusHoverTextAmber::After, .VersusHoverTextOrange::After {
  content: "";
  position: absolute;
  top: 100%;
  left: 20px;
  margin-left: -5px;
  border-width: 7px;
  border-style: solid;
  /*border-color: lightblue transparent transparent transparent;*/
}


.VersusHover .VersusHoverTextHeader {
  font-size: 90%;
  visibility: hidden;
  width: auto;
  color: black;
  text-align: left;
  border-radius: 6px;
  padding: 5px 0;
  padding-left: 10px;
  padding-right: 15px;
  position: absolute;
  z-index: 1;
  bottom: 130%;
  left: 44px;
  margin-left: -60px;
  background-color: whitesmoke;
}

.VersusHover .VersusHoverTextHeader::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 19px;
  margin-left: -5px;
  border-width: 7px;
  border-style: solid;
  border-color: whitesmoke transparent transparent transparent;
}



.VersusHover .VersusHoverTextGreen::after { border-color: lightgreen transparent transparent transparent }
.VersusHover .VersusHoverTextGreen { background-color: lightgreen }

.VersusHover .VersusHoverTextGreen::after { border-color: lightgreen transparent transparent transparent }
.VersusHover .VersusHoverTextGreen { background-color: lightgreen }
.VersusHover .VersusHoverTextAmber::after { border-color: lightyellow transparent transparent transparent }
.VersusHover .VersusHoverTextAmber { background-color: lightyellow }
.VersusHover .VersusHoverTextOrange::after { border-color: #FFC2AA transparent transparent transparent }
.VersusHover .VersusHoverTextOrange { background-color: #FFC2AA }


.VersusHover:hover .VersusHoverTextGreen, .VersusHover:hover .VersusHoverTextAmber, .VersusHover:hover .VersusHoverTextOrange, 
.VersusHover:hover .VersusHoverTextHeader {
  visibility: visible;
}


.ClassHover, .PlayerHover {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.ClassHover .ClassHoverText1, .ClassHover .ClassHoverText2, .ClassHover .ClassHoverText0 {
  font-weight: normal;
  font-size: 90%;
  visibility: hidden;
  width: auto;
  color: black;
  text-align: left;
  border-radius: 6px;
  padding: 5px 0;
  padding-left: 10px;
  padding-right: 15px;
  position: absolute;
  z-index: 1;
  bottom: 130%;
  left: 55;
  margin-left: -60px;
}

.ClassHover .ClassHoverText1::after, .ClassHoverText2::After, .ClassHoverText0::After {
  content: "";
  position: absolute;
  top: 100%;
  left: 15%;
  margin-left: -5px;
  border-width: 7px;
  border-style: solid;
}

.ClassHover .ClassHoverText1::after, .PlayerHover .PlayerHoverText1::after { border-color: lightblue transparent transparent transparent }
.ClassHover .ClassHoverText1, .PlayerHover .PlayerHoverText1 { background-color: lightblue }
.ClassHover .ClassHoverText2::after, .PlayerHover .PlayerHoverText2::after { border-color: #ffb5ad transparent transparent transparent }
.ClassHover .ClassHoverText2, .PlayerHover .PlayerHoverText2 { background-color: #ffb5ad  }
.ClassHover .ClassHoverText1::after { border-color: lightblue transparent transparent transparent }
.ClassHover .ClassHoverText1 { background-color: lightblue }
.ClassHover .ClassHoverText0::after, .PlayerHover .PlayerHoverText0::after { border-color: violet transparent transparent transparent }
.ClassHover .ClassHoverText0, .PlayerHover .PlayerHoverText0 { background-color: violet }


.ClassHover:hover .ClassHoverText1, .ClassHover:hover .ClassHoverText2, .ClassHover:hover .ClassHoverText0,
.PlayerHover:hover .PlayerHoverText1, .PlayerHover:hover .PlayerHoverText2, .PlayerHover:hover .PlayerHoverText0 {
  visibility: visible;
}


.PlayerHover .PlayerHoverText1, .PlayerHover .PlayerHoverText2, .PlayerHover .PlayerHoverText0 {
  font-size: 80%;
  visibility: hidden;
  width: auto;
  color: black;
  text-align: left;
  border-radius: 6px;
  padding: 5px 0;
  padding-left: 10px;
  padding-right: 15px;
  position: absolute;
  z-index: 1;
  bottom: 130%;
  left: 55;
  margin-left: -60px;
}

.PlayerHover .PlayerHoverText1::after, .PlayerHoverText2::After, .PlayerHoverText0::After {
  content: "";
  position: absolute;
  top: 100%;
  left: 15px;
  margin-left: -5px;
  border-width: 7px;
  border-style: solid;
}
